In [12]:
from config import password
from flask import jsonify
import sqlalchemy
from sqlalchemy import create_engine, inspect, func
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session, query


engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Meteorite_Landings')
conn = engine.connect()

In [13]:
inspector = inspect(engine)
inspector.get_table_names()

['landings']

In [14]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
Landings = Base.classes.landings

In [15]:
session = Session(engine)

In [29]:
results = pd.read_sql("Select * from landings",conn).to_dict()
jsonify(results)

RuntimeError: Working outside of application context.

This typically means that you attempted to use functionality that needed
to interface with the current application object in some way. To solve
this, set up an application context with app.app_context().  See the
documentation for more information.

In [5]:
inspector.get_columns("landings")

[{'name': 'name',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'id',
  'type': INTEGER(),
  'nullable': False,
  'default': "nextval('landings_id_seq'::regclass)",
  'autoincrement': True,
  'comment': None},
 {'name': 'nametype',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'classification',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'mass',
  'type': REAL(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'year',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'latitude',
  'type': REAL(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'longitude',
  'type': REAL(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None}]

In [6]:
landings = pd.read_sql("select * from landings",conn)
landings

,name,id,nametype,classification,mass,year,latitude,longitude
0,Aachen,1,Valid,L5,21.0,1880,50.7750,6.08333
1,Aarhus,2,Valid,H6,720.0,1951,56.1833,10.23330
2,Abee,6,Valid,EH4,107000.0,1952,54.2167,-113.00000
3,Acapulco,10,Valid,Acapulcoite,1914.0,1976,16.8833,-99.90000
4,Achiras,370,Valid,L6,780.0,1902,-33.1667,-64.95000
...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,1990,29.0370,17.01850
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,1999,13.7833,8.96667
45713,Zlin,30410,Valid,H4,3.3,1939,49.2500,17.66670
45714,Zubkovsky,31357,Valid,L6,2167.0,2003,49.7892,41.50460
45715,Zulu Queen,30414,Valid,L3.7,200.0,1976,33.9833,-115.68300

In [ ]:
last_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first().date